<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350632689562-nd005dm5g802dqlq8rv87ie3ir647rpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350632689562-nd005dm5g802dqlq8rv87ie3ir647rpc</string>
	<key>API_KEY</key>
	<string>AIzaSyA-QKH6WW45dlJzWaRcQOvzVLQwdBk-oEg</string>
	<key>GCM_SENDER_ID</key>
	<string>350632689562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beomboo</string>
	<key>PROJECT_ID</key>
	<string>beomboo-52314</string>
	<key>STORAGE_BUCKET</key>
	<string>beomboo-52314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350632689562:ios:58afb56f7d65ec3f918423</string>
</dict>
</plist>